@media (min-width: 1px) and (max-width: 320px) {
	html,
	body {
		padding-bottom: 50px;
		scroll-behavior: smooth;
	}

	.header-img {
		min-width: 110px;
		max-width: 250px;
		height: 85%;
	}
}

@media (min-width: 321px) and (max-width: 414px) {
	html,
	body {
		padding-bottom: 65px;
		scroll-behavior: smooth;
	}

	.header-img {
		min-width: 160px;
		max-width: 280px;
		height: 92%;
	}
}

@media (min-width: 415px) {
	.header-img {
		min-width: 200px;
		max-width: 300px;
	}
	html,
	body {
		padding-bottom: 65px;
		scroll-behavior: smooth;
	}
}

.bg-body {
	color: #fff;
	font-family: "Roboto", sans-serif;
	background: rgb(245, 159, 48);
	background: linear-gradient(150.69deg, #f5b12d 3.74%, #f44b02 100%);
}

.header {
	height: 100px;
}

.header-img {
	padding: 0.5rem 1.5rem;
}

.yellow {
	color: #fae939;
}
