@media (min-width: 1px) and (max-width: 320px) {
	.yellow {
		line-height: 0rem;
	}
	.img-main {
		background-position: 50% 0;
		height: 400px;
		display: none;
	}
	.row-title {
		font-size: 1.6rem;
	}
	.formulario {
		max-width: 290px;
		margin-top: 25px;
	}
	.formulario-header {
		width: 290px;
		font-size: 1.2rem;
		margin-right: auto;
		margin-left: auto;
	}
	.formulario-body {
		width: 290px;
		margin-right: auto;
		margin-left: auto;
	}
	.formulario-input {
		width: 100%;
		font-size: 1rem;
	}
	.formulario-btn {
		width: 100%;
	}
	.sociais {
		margin-left: auto;
		margin-right: auto;
		margin-top: 3rem;
	}
	.sociais-row {
		padding-left: 4rem;
		margin-left: auto;
		margin-right: auto;
	}
	.sociais-row-2 {
		padding-left: 4rem;
		margin-left: auto;
		margin-right: auto;
	}
	.sociais-row span {
		margin-left: 1.5rem;
	}
	.slogan {
		margin-left: auto;
		margin-right: auto;
		max-width: 300px;
		padding-top: 0.7rem;
	}
}

@media (min-width: 321px) and (max-width: 414px) {
	.row-title {
		font-size: 1.6rem;
	}
	.formulario {
		max-width: 315px;
		margin-top: 40px;
		margin-left: 0 !important;
	}
	.formulario-header {
		width: 315px;
		font-size: 1.3rem;
		margin-left: auto;
	}
	.formulario-body {
		width: 315px;
		margin-left: auto;
		margin-bottom: 30px;
	}
	.formulario-input {
		width: 100%;
		font-size: 1.15rem;
	}
	.formulario-btn {
		width: 100%;
	}
	.sociais {
		margin-left: 1.8rem;
		margin-top: 3rem;
	}
	.sociais-row {
		padding-left: 4rem;
		margin-left: auto;
		margin-right: auto;
	}
	.sociais-row-2 {
		padding-left: 4rem;
		margin-left: auto;
		margin-right: auto;
	}
	.sociais-row span {
		margin-left: 1.5rem;
	}
	.slogan {
		margin-left: 1.8rem;
		max-width: 300px;
		padding-top: 0.7rem;
	}
}

@media (min-width: 415px) {
	main {
		margin-top: 3rem;
	}
	.row-title {
		font-size: 2rem;
		margin-left: 1.3rem;
	}
	.vertical-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.formulario {
		max-width: 395px;
	}
	.formulario-header {
		width: 395px;
		font-size: 1.4rem;
	}
	.formulario-body {
		width: 395px;
	}
	.formulario-input {
		width: 95%;
	}
	.formulario-btn {
		width: 95%;
	}
	.sociais {
		padding-left: 3rem;
	}
	.sociais-row {
		margin-left: 1rem;
		margin-left: -0.3rem;
	}
	.slogan {
		max-width: 500px;
		padding-top: 0.7rem;
		float: right;
	}
	footer {
		bottom: 0;
		position: absolute;
		width: 98%;
	}
	html {
		height: 100vh;
	}
	.float-button {
		display: none;
	}
}

/****  CSS padrões ****/
.float-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #e63e28;
	z-index: 9999999;
	position: fixed;
	bottom: 0;
	right: 0;
	margin-bottom: 1rem;
	margin-right: 1rem;
	font-size: 1.5rem;
	opacity: 0.7;
	text-align: center;
}
.float-button a i {
	opacity: 1;
	color: #fad937;
}
.row-title {
	line-height: 1.6rem;
}
#form-block {
	width: 100%;
}
.form {
	width: 100%;
}
.formulario {
	height: 300px;
	margin-right: auto;
	margin-left: auto;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.formulario-header {
	height: 100px;
	background: #e63e28;
	background-color: #e63e28;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	font-weight: bold;
	text-align: center;
	padding: 15px;
}
.formulario-header p {
	margin: auto;
}
.formulario-body {
	background: #ffffff;
	border-radius: 12px;
	margin-top: -10px;
	padding: 1rem;
	padding: 25px 10px;
}
.formulario-input {
	height: 47px;
	border: 1px solid #e63e28;
	box-sizing: border-box;
	border-radius: 9px;
	font-family: Roboto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.formulario-btn {
	height: 47px;
	background: #e63e28;
	border-radius: 9px;
	color: #fad937;
	font-size: 1.3rem;
	font-weight: bold;
}
::-webkit-input-placeholder {
	color: #e63e28;
	padding-left: 5px;
}
:-moz-placeholder {
	color: #e63e28;
	padding-left: 5px;
}
::-moz-placeholder {
	color: #e63e28;
	padding-left: 5px;
}
:-ms-input-placeholder {
	color: #e63e28;
	padding-left: 5px;
}
